body {
  background-color: #EAF6F6;
}
hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  width: 2%;
  height: 0px;
  border-width: 10%;
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
h2 {
  color: #66BFBF;
}
